/alex_analyst_ws.ipynb
/all_states.csv
/andhra_pradesh_all_districts.csv
/cude.py
/jjm_all_states.csv
/JJM_Web_API.pdf
/jjs_draft1.ipynb
/jjs_draft2.ipynb
/jjs_table.ipynb
/saved_table.html
/saved_table2.html
/test.csv
/test2.csv
/test3.csv